.common__section {
  background: linear-gradient(#0A4660, #09475f83),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
